@page
@model VolunteeringWebsite.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="padding-different">
    <h1>Details</h1>

    <div>
        <hr />
        <dl class="row width-full">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.EndDate)
            </dd>
            @if (Model.Place != "home")
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Project.Location)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Project.Location.FullName)
                </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.Topic)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.Topic.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.TextAreaFor(model => model.Project.Description, 7, 100, new { @readonly = true })
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.Activities)
            </dt>
            <dd class="col-sm-10">
                @Html.TextAreaFor(model => model.Activities, 7, 100, new { @readonly = true })
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProjectLanguage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProjectLanguage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProjectSkills)
            </dt>
            <dd class="col-sm-10">
                @Html.TextAreaFor(model => model.ProjectSkills, 5, 100, new { @readonly = true })
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project.CoinsGiven)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.CoinsGiven)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Project.Id" asp-route-place=@Model.Place>Edit</a> |
        <a asp-page="./Index" asp-route-place=@Model.Place>Back to List</a>
    </div>
</div>

