@page
@model VolunteeringWebsite.IndexModel

@using Microsoft.AspNetCore.Identity
@using VolunteeringWebsite.Areas.Identity.Data

@inject UserManager<VolunteeringWebsiteUser> UserManager

@{
    ViewData["Title"] = "Index";
    var user = await UserManager.GetUserAsync(User);
}

@if (Model.Place == @Const.Place.home)
{
    <h1 class="p-3 mb-2 bg-danger text-white">Projects from home</h1>
}
else if (Model.Place == @Const.Place.romania)
{
    <h1 class="p-3 mb-2 bg-warning text-dark">Projects in Romania</h1>
}
else if (Model.Place == @Const.Place.abroad)
{
    <h1 class="p-3 mb-2 bg-info text-white">Projects abroad</h1>
}
else if (Model.Place == @Const.Place.favourites)
{
    <h1 class="p-3 mb-2 bg-primary text-white">Favourite projects</h1>
}
else if (Model.Place == @Const.Place.applied)
{
    <h1 class="p-3 mb-2 bg-success text-white">Applied projects</h1>
}
else if (Model.Place == @Const.Place.finished)
{
    <h1 class="p-3 mb-2 bg-purple text-white">Finished projects</h1>
}


<div class="padding-7">
    @if (user != null && user.IsAdmin)
    {
        <p>
            <a asp-page="Create" asp-route-place=@Model.Place>Create New</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].EndDate)
                </th>
                @if (!Model.HideLocation)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Project[0].Location)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].Topic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project[0].CoinsGiven)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Project)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    @if (!Model.HideLocation)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.FullName)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Topic.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoinsGiven)
                    </td>
                    <td>
                        @if (user != null && user.IsAdmin)
                        {
                            <a asp-page="./Edit" asp-route-id="@item.Id" asp-route-place=@Model.Place>Edit</a>
                            <span> | </span>
                        }
                        <a asp-page="./Details" asp-route-id="@item.Id" asp-route-place=@Model.Place>Details</a>
                        @if (user != null && user.IsAdmin)
                        {
                            <span> | </span>
                            <a asp-page="./Delete" asp-route-id="@item.Id" asp-route-place=@Model.Place>Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
